# JOUR 3: Analyse exploratoire, pipeline de données et apprentissage

## Agenda

**Jour 3: Analyse exploratoire, pipeline de données et apprentissage**
- **Matin**
    1. Analyse exploratoire à l'aide de Pandas
    2. Visualition de données
- **Après-midi**
    3. Pandas avancé
    4. Pipelines de données  
        4.1. Ingestion  
        4.2. Stockage et traitement  
        4.3. Applications

## Data vizualisation

- https://www.kaggle.com/code/residentmario/plotting-with-seaborn
- https://realpython.com/python-matplotlib-guide/
- https://www.machinelearningplus.com/plots/top-50-matplotlib-visualizations-the-master-plots-python/
- http://seaborn.pydata.org/tutorial/introduction.html

# Pandas: Aggregation

## Data manipulations and cleaning

- [Grouping and sorting](https://www.kaggle.com/code/fork/598715)
- [Data Types and Missing Value](https://www.kaggle.com/code/fork/598826)
- [Renaming and combining](https://www.kaggle.com/code/fork/638064)
- [Handling Missing Values](https://www.kaggle.com/code/fork/10824396)
- [Scaling and Normalization](https://www.kaggle.com/code/fork/10824404)
- [Inconsistant Data entries](https://www.kaggle.com/code/alexisbcook/inconsistent-data-entry)
- [Pivot tables](https://www.kaggle.com/code/anandhuh/analysing-data-with-pivot-tables-beginners-guide)

## Web Scraping

In [4]:
import pandas as pd

In [26]:
pd.read_html('./lab-1-play-with-pure-python/baby1990.html')[2]

,Rank,Male name,Female name
0,1,Michael,Jessica
1,2,Christopher,Ashley
2,3,Matthew,Brittany
3,4,Joshua,Amanda
4,5,Daniel,Samantha
...,...,...,...
996,997,Eliezer,Asha
997,998,Jory,Jada
998,999,Misael,Leila
999,1000,Tate,Peggy
1000,"Note: Rank 1 is the most popular, rank 2 is th...","Note: Rank 1 is the most popular, rank 2 is th...","Note: Rank 1 is the most popular, rank 2 is th..."

## Scrappers tutorial

- https://docs.scrapy.org/en/latest/intro/tutorial.html
- https://towardsdatascience.com/data-science-skills-web-scraping-using-python-d1a85ef607ed
- https://medium.com/@alexandrewrg/scraper-les-donn%C3%A9es-de-plusieurs-pages-avec-scrapy-2e076ac7dc09
- https://www.dataquest.io/blog/web-scraping-with-scrapy/

## Extra resources

- Python for SEO: https://www.jcchouinard.com/python-for-seo/

# Pipelines

- https://jaketae.github.io/study/sklearn-pipeline/
- https://www.kaggle.com/code/enerrio/scikit-learn-ml-from-start-to-finish/notebook
- https://medium.com/dunder-data/from-pandas-to-scikit-learn-a-new-exciting-workflow-e88e2271ef62
- https://towardsdatascience.com/in-12-minutes-stocks-analysis-with-pandas-and-scikit-learn-a8d8a7b50ee7

# Full projects with ML use case

- [Titanic with 78% accuracy](https://www.kaggle.com/code/jeffd23/scikit-learn-ml-from-start-to-finish)
- [Titanic with 99% accuracy](https://www.kaggle.com/code/ldfreeman3/a-data-science-framework-to-achieve-99-accuracy)

## Exercice: INSEE

- https://www.data.gouv.fr/fr/datasets/population/#_
- https://www.insee.fr/fr/information/2008354
- https://pandas.pydata.org/pandas-docs/stable/getting_started/comparison/index.html

---

# Extra resources

- [Scikit-Learn cheatsheet](https://www.kaggle.com/discussions/getting-started/116620)